# Values in MB. Comment out to use system java defaults.

initial_heap_size = 512
maximum_heap_size = 512
# thread_stack_size = 1024

# Comment this out to select java automatically from system environment.
# java_path = "../java.exe"

# Any further java run arguments (called before -jar).
# java_args = ["-client", "-disablesystemassertions"]
